# Dependencies
node_modules/

# Production build
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local files
*.local

# Coverage
coverage/

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo